.transaction-list{
margin: 10px;
font-size: 20px;
}
.deletebtn{
   margin-left: 80px;
   position: fixed;
  
}
.income{
    background-color: green;
    width: 30px;
   height: 30px;
   color:white;
   padding:4px;
   border-radius: 5px;

}
.expense{
   background-color: red;
   width: 30px;
   height: 30px;
   padding:4px;
   border-radius: 5px;
   color:white
}
